<!-- <div class="card">
    <div class="card-header">
        <strong>
            Filters
        </strong>
        </div>
        <div class="card-body">
            <form >
                <div class="form-group">
                    <label for="from">From</label>
                    <input type="number" name="" id="from" class="form-control">
                </div>
                <div class="form-group">
                    <label for="to">To</label>
                    <input type="number" name="" id="to" class="form-control">
                </div>


                <button class="btn btn-primary btn-block btn-sm">Filter By Price</button>
            </form>
        </div>
    </div> -->

    <div class="categories  isp-facet-not-selected" >    
        <div class="isp_facet_title" aria-expanded="true" >        
            <span class="isp_facet_title_name">Categories</span>    
        </div>
        <div class="isp_facet_value"> 
            <a id="T-shirts" href="#!" title="T-shirts">    
                <div class="form-check" role="checkbox" >
                    <input type="form-check-in" type="checkbox">
                    <span class="isp_facet_value_name_not_selected Heading">T-shirts</span>
                </div>       
                </a>
            </div>
            <div class="isp_facet_value"> 
                <a id="long_sleeves"  facet_name="Categories" href="#!"  title="Long sleeves">    
                    <div class="form-check" role="checkbox" >
                        <input class="check"type="form-check-in" type="checkbox">
                        <span class="isp_facet_value_name_not_selected Heading">Jeans</span>
                    </div>   
                    </a>
                </div>
                <div class="isp_facet_value"> 
                    <a id="jackets"  href="#!"  title="Jackets">    
                        <div class="form-check" role="checkbox" >
                            <input type="form-check-in" type="checkbox">   
                            <span class="isp_facet_value_name_not_selected Heading" >Glass Paintings</span>
                        </div>
                            </a>
                        </div>
                        <div class="isp_facet_value"> 
                            <a id="bottoms" href="#!" title="Bottoms">    
                                <div class="form-check" role="checkbox" >
                            <input type="form-check-in" type="checkbox">
                                    <span class="isp_facet_value_name_not_selected Heading">Phone Cases</span>
                                </div>    
                            </a>
                        </div>
                        <div class="isp_facet_value"> 
                            <a id="wovens" href="#!"  title="Wovens">    
                                <div class="form-check" role="checkbox" >
                            <input type="form-check-in" type="checkbox">
                                    <span class="isp_facet_value_name_not_selected Heading">Totebags</span>
                            </div>    
                        </a>
                    </div>
    </div>
      
    <!-- <div class="isp_single_facet_wrapper isp_facet_price  isp-facet-not-selected" id="single_facet_Price">    
        <div class="isp_facet_title" >       
         <span class="isp_facet_title_name" >Price</span>    
        </div>
        <div id="isp_desktop_price_slider" class="inactive_slider_isp">
        </div>
        <div class="isp_custom_price_container"> 
            <label class="isp_custom_price_currency" for="isp_custom_price_min">DT</label>  
            <input aria-describedby="isp_custom_price_range_errors" aria-label="Minimum price" class="isp_custom_price_input" id="isp_custom_price_min" type="number" maxlength="12" isp_ignore="" autocomplete="off" placeholder="10" value="" min="" max="">  
            <span class="isp_custom_price_to_span" style="font-size: 17px;" data-open-accessibility-text-original="17px"> - </span>  
            <label class="isp_custom_price_currency" for="isp_custom_price_max">DT</label>  
            <input aria-describedby="isp_custom_price_range_errors" aria-label="Maximum price" class="isp_custom_price_input" id="isp_custom_price_max" type="number" maxlength="12" isp_ignore="" autocomplete="off" placeholder="60" value="" min="" max="">  
            <button aria-label="Filter by price range" type="submit" class="isp_custom_price_submit navigable" >»</button>  
            <div class="isp_custom_price_validatioon_error" id="isp_custom_price_range_errors" aria-labelledby="isp_custom_price_min isp_custom_price_max" style="display: none; margin-top: 0;">Please fix price range</div>
        </div>
        <div class="isp_facet_value">       
            <div class="isp_facet_value"> 
                <a id="T-shirts" href="#!" title="price">    
                    <div class="form-check" role="checkbox" >
                        <input type="form-check-in" type="checkbox">
                        <span class="isp_facet_value_name_not_selected Heading">10 DT -</span>
                        <span class="isp_facet_value_name_not_selected Heading">15 DT</span>
                    </div>       
                </a>
            </div>
            <div class="isp_facet_value"> 
                <a id="T-shirts" href="#!" title="price">    
                    <div class="form-check" role="checkbox" >
                            <input type="form-check-in" type="checkbox">
                            <span class="isp_facet_value_name_not_selected Heading">15 DT -</span>
                            <span class="isp_facet_value_name_not_selected Heading">20 DT</span>
                    </div>       
                </a>
            </div>
            <div class="isp_facet_value"> 
                <a id="T-shirts" href="#!" title="price">    
                    <div class="form-check" role="checkbox" >
                        <input type="form-check-in" type="checkbox">
                            <span class="isp_facet_value_name_not_selected Heading">20 DT -</span>
                            <span class="isp_facet_value_name_not_selected Heading">25 DT</span>
                    </div>       
                </a>
            </div>
            <div class="isp_facet_value"> 
                <a id="T-shirts" href="#!" title="price">    
                    <div class="form-check" role="checkbox" >
                        <input type="form-check-in" type="checkbox">
                        <span class="isp_facet_value_name_not_selected Heading">25 DT -</span>
                        <span class="isp_facet_value_name_not_selected Heading">30 DT</span>
                    </div>       
                    </a>
            </div>
            <div class="isp_facet_value"> 
                <a id="T-shirts" href="#!" title="price">    
                    <div class="form-check" role="checkbox" >
                        <input type="form-check-in" type="checkbox">
                        <span class="isp_facet_value_name_not_selected Heading">30 DT -</span>
                        <span class="isp_facet_value_name_not_selected Heading">35 DT</span>
                    </div>       
                    </a>
            </div>
            <div class="isp_facet_value"> 
                <a id="T-shirts" href="#!" title="price">    
                    <div class="form-check" role="checkbox" >
                        <input type="form-check-in" type="checkbox">
                        <span class="isp_facet_value_name_not_selected Heading">35 DT -</span>
                        <span class="isp_facet_value_name_not_selected Heading">40 DT</span>
                    </div>       
                    </a>
            </div>
        </div>
    </div> -->
    
                        