<div class="card">
    <img class="image"src={{toteItem.imageUrl}}>
    

    <div class="middle">          
        <button class="btnn" (click)="handlerAddToCart()">Add to cart</button>
    </div>
    <div class="card-body">
        
        <p class="Heading p">{{toteItem.name}}</p>
        <button (click)="handlerAddtoWishList()"class="Heading " style="font-size: 12px;color:rgb(75, 74, 74);text-decoration: underline;cursor: pointer;">Add to wishlist</button>
        <br><span class="Heading Price">{{toteItem.price |currency:'TND '}}</span>

    </div>
</div>