
/*  */
.Button{
    position: relative;
    color: #ffffff;
    background-color:#1b133c ;
    padding: 14px 28px;
    line-height: normal;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
    z-index: 1;
    
}

.Button:hover{
    background-color: #ffffff;
    color: #1b133c;
    border:1px solid #1b133c;
}