

<header class="Header Header--withIcons Header--center Header--initialized">
  
  <div class="Header__Wrapper">
    <div class="row">
      <div class="col">

          </div>
          <div class="col">
            <div class="Header__FlexItem Header__FlexItem--logo">
              <h1 class="Header__Logo" >
                <a routerLink="/" class="Header__LogoLink navigable" >
                  <img class="Header__LogoImage Header__LogoImage--primary" src="assets/img/logo/sakura.png" width="200" alt="Sakura Store" >
                </a>
              </h1>
          </div>
        </div>
        <div class="col">
          <div class="row">
          <div class="Header__FlexItem icons">
              <a routerLink="/login" class="Header__Icon"><i class='fa fa-user-circle-o' style="font-size: large;"></i></a>
              <button ng-sidebar-content (click)="toggleSidebar1()" class="Header__Icon">
                <i class="fa fa-heart" aria-hidden="true" style="font-size: large;">
                <span *ngIf=" wishlistItems.length > 0" class="icon-button__badge Header__WlDot"></span>
                </i>
              </button>
              <!-- <a href="/search" class="Header__Icon"><i class="fa fa-search" aria-hidden="true"  style="font-size: large;"></i></a>  -->
              <button ng-sidebar-content (click)="toggleSidebar()" class="Header__Icon"  >
                <i class="fa fa-shopping-bag" aria-hidden="true"style="font-size: large;">
                  <span *ngIf=" cartItems.length > 0" class="icon-button__badge Header__CartDot"></span>
                </i>
              </button> 
          </div>
          <ng-sidebar-container [animate]="true">
            <ng-sidebar [opened]="opened" class="ng-sidebar__content--animate">
              <div id="sidebar-cart" class="Drawer Drawer--fromRight" >
                <div class="Drawer__Header Drawer__Header--bordered Drawer__Container"> 
                    <span class="Drawer__Title Heading u-h4" style="font-size: 20px;" >Cart</span> 
                    <button class="Drawer__Close Icon-Wrapper--clickable navigable" >
                        <i (click)="toggleSidebar()" class="fa fa-close" style="font-size: large;"></i>
                    </button>
                </div>
               
                <form class="Cart Drawer__Content"  >
                  
                <div class="Drawer__Main" >
                    
                      <div  *ngIf="cartItems.length === 0" class="Cart__Empty Heading u-h5">Your cart is empty</div>
                 <ul class="CartItemWrapper"*ngIf=" cartItems.length > 0">   
                    <li class="CartItem" *ngFor="let item of cartItems">
                      <app-cart-item [cartItem]="item"></app-cart-item>
                    </li>
                  </ul>
                </div>
                    <div class="Drawer__Footer" data-drawer-animated-buttom>
                      <button class="Cart__Checkout btncheckout">total {{cartTotal |currency:"TND " }}</button>
                    </div>
                  
                
            </form>
            
            </div>
        
            </ng-sidebar>
            
            <ng-sidebar [opened]="OP">
              <div id="sidebar-cart" class="Drawer Drawer--fromRight" >
                <div class="Drawer__Header Drawer__Header--bordered Drawer__Container"> 
                    <span class="Drawer__Title Heading u-h4" style="font-size: 17px;" >Wish List</span> 
                    <button class="Drawer__Close Icon-Wrapper--clickable navigable" >
                        <i (click)="toggleSidebar1()" class="fa fa-close" style="font-size: large;"></i>
                    </button>
                </div>
               
                <form class="Cart Drawer__Content"  >
                  
                <div class="Drawer__Main" >
                    
                      <div  *ngIf="wishlistItems.length === 0" class="Cart__Empty Heading u-h5">Your WishList is empty</div>
                 <ul class="CartItemWrapper" *ngIf=" wishlistItems.length > 0">   
                    <li class="CartItem" *ngFor="let wlItem of wishlistItems">
                      <app-wishlist [wishlistItem]="wlItem"></app-wishlist>
                    </li>
                  </ul>
                </div>
                    <div class="Drawer__Footer" data-drawer-animated-buttom>
                      
                    </div>
                  
                
            </form>
            
            </div>
        
            </ng-sidebar>
           
          </ng-sidebar-container>   
        </div>
      </div>
        <nav class="Header__MainNav hidden-pocket hidden-lap">
          <ul class="HorizontalList HorizontalList--spacingLoose">
            <li class="HorizontalList__Item">
              <a routerLink="/" class="Heading u-h6 navigable"style="font-size: 12px;" href="#">Home</a>
            </li>
            <div class="dropdown">
            <li class="HorizontalList__Item">
              <button class="Heading u-h6 navigable" style="font-size: 12px;">Brands</button>
                <div class="dropdown-content">
                  <ul class="Linklist" >
                    <li class="Linklist__Item"><a class="Link Link--secondary navigable" routerLink="/aot">Attack on Titan</a></li>
                    <li class="Linklist__Item"><a class="Link Link--secondary navigable" routerLink="/naruto">Naruto</a></li>
                    <li class="Linklist__Item"><a class="Link Link--secondary navigable" routerLink="/nana">Nana</a></li>
                    <li class="Linklist__Item"><a class="Link Link--secondary navigable" routerLink="/jujutsukaisen">jujutsu kaisen</a></li>
                    <li class="Linklist__Item"><a class="Link Link--secondary navigable" routerLink="/demonSlayer">Demon slayer</a></li>
                    <li class="Linklist__Item"><a class="Link Link--secondary navigable" routerLink="/other">Other brands</a></li>
                  </ul>
                </div>
            </li>
            </div>
            <div class="dropdown">
              <li class="HorizontalList__Item " >
                <button class="Heading u-h6 navigable" style="font-size: 12px;" href="" >Collection</button>
                <div class="dropdown-content">
                  <ul class="Linklist" >
                    <li class="Linklist__Item"><a class="Link Link--secondary navigable" routerLink="/tshirts">T-shirt & hoodie</a></li>
                    <li class="Linklist__Item"><a class="Link Link--secondary navigable" routerLink="/jeans">Jeans</a></li>
                    <li class="Linklist__Item"><a class="Link Link--secondary navigable" routerLink="/glasspaintings">Glass paintings</a></li>
                    <li class="Linklist__Item"><a class="Link Link--secondary navigable" routerLink="/phonecases">Phone Cases</a></li>
                    <li class="Linklist__Item"><a class="Link Link--secondary navigable" routerLink="/totebags">Tote Bag</a></li>
                  </ul>
                </div>
              </li>
            </div>
            <li class="HorizontalList__Item">
              <a href="/Gifts" class="Heading u-h6 navigable" style="font-size: 12px;">Gifts</a>
            </li>
          </ul>     
        </nav>
    </div>
  

  </div>
  <!-- <div class="Search"> 
    <div class="Search__Inner">
      <div class="Search__SearchBar"> 
        <form action="/search" name="GET" role="search" class="Search__Form" method="get" data-hs-cf-bound="true">
          <div class="Search__InputIconWrapper">
                <i class="fa fa-search"></i>
            </div>
            <input type="search" class="Search__Input Heading" aria-label="Search" placeholder="Search...">  </form> 
            <button class="Search__Close Link Link--primary navigable" data-action="close-search" aria-label="Close search">
              <i class="fa fa-x"></i>
            </button>
        </div>
        <div class="Search__Results" aria-hidden="true">
          <div class="PageLayout PageLayout--breakLap">
            <div class="PageLayout__Section"></div>
            
          </div>
        </div>
      </div>
  
  </div>     -->
</header>
