<div class="Brands  isp-facet-not-selected" >
    <div class="isp_facet_title" aria-expanded="true">        
        <span class="isp_facet_title_name">Brands</span>    
    </div> 
    <div class="isp_facet_value"> 
        <a id="T-shirts" href="#!" title="naruto">    
            <div class="form-check" role="checkbox" >
                <input type="form-check-in" type="checkbox">
                <span class="isp_facet_value_name_not_selected Heading">Naruto</span>
            </div>       
        </a>
    </div> 
    <div class="isp_facet_value"> 
        <a id="T-shirts" href="#!" title="op">    
            <div class="form-check" role="checkbox" >
                <input type="form-check-in" type="checkbox">
                <span class="isp_facet_value_name_not_selected Heading">One Piece</span>
            </div>       
        </a>
    </div> 
    <div class="isp_facet_value"> 
        <a id="T-shirts" href="#!" title="eva">    
            <div class="form-check" role="checkbox" >
                <input type="form-check-in" type="checkbox">
                <span class="isp_facet_value_name_not_selected Heading">Evangelion</span>
            </div>       
        </a>
    </div> 
    <div class="isp_facet_value"> 
        <a id="T-shirts" href="#!" title="hxh">    
            <div class="form-check" role="checkbox" >
                <input type="form-check-in" type="checkbox">
                <span class="isp_facet_value_name_not_selected Heading">Hunter x Hunter</span>
            </div>       
        </a>
    </div> 
    <div class="isp_facet_value"> 
        <a id="T-shirts" href="#!" title="Berserk">    
            <div class="form-check" role="checkbox" >
                <input type="form-check-in" type="checkbox">
                <span class="isp_facet_value_name_not_selected Heading">Berserk</span>
            </div>       
        </a>
    </div> 
    <div class="isp_facet_value"> 
        <a id="T-shirts" href="#!" title="nana">    
            <div class="form-check" role="checkbox" >
                <input type="form-check-in" type="checkbox">
                <span class="isp_facet_value_name_not_selected Heading">Nana</span>
            </div>       
        </a>
    </div> 
</div>