
<div class="card">
    <img class="image"src={{jjk.imageUrl}}>
    <div class="middle">          
        <button class="btn" (click)="handlerAddToCart()">Add to cart</button>
    </div>
    <div class="card-body">
        
        <p class="Heading ">{{jjk.name}}</p>
        <button (click)="handlerAddtoWishList()"class="Heading" style="font-size: 12px;color:rgb(75, 74, 74);text-decoration: underline;cursor: pointer;">Add to wishlist</button>
        <br>
        <span class="Heading Price">{{jjk.price}}</span>
                
    </div>
</div>