
    <div class="Container">
        
        <div class="Footer__Inner">
            <div class="Footer__Block Footer__Block--text">
                <h2 class="Heading" style="font-size: 12px;">About Us</h2>
            
                <p class="pp">Sakura Store is a Small Company Composed by Sakura-chan and Hinata-chan Created for Fans Of All Things Japanese Lifestyle and Culture.
                    We Provide Hand Made Of Anime Mersh So what r u Waiting For 
                    Otakus Come And Get ur Mersh <i class="fa fa-heart" aria-hidden="true"></i>
                </p>
            </div>
    

            <div class="Footer__Block Footer__Block--contact">
                <h2 class="Heading " style="font-size: 12px;">
                Contact Info
                </h2>
                <div >
                    <p> <i class="fa fa-location-arrow" aria-hidden="true"></i> Sousse 4000, Tunisia</p>
                    <p> <i class="fa fa-phone" aria-hidden="true"></i> +216 92 55 77 64</p>
                    <p> <i class="fa fa-envelope" aria-hidden="true"></i> theredsparrow@gmail.com</p>
                </div>
            </div>
            <div class="Footer__Block Footer__Block--Links">
                <h2 class="Heading" style="font-size: 12px;">Helpful Links</h2>
                <ul class="Linklist">
                    <li class="Linklist__Item">
                        <a routerLink="/login" class="Link Link--primary navigable">Sign In</a></li>
                    <li class="Linklist__Item">
                        <a href="" class="Link Link--primary navigable">Earn Rewards</a></li>
                    <li class="Linklist__Item">
                        <a href="" class="Link Link--primary navigable">About Sakura</a></li>
                    <li class="Linklist__Item">    
                        <a href="" class="Link Link--primary navigable">Contact Us</a></li>
                </ul>
            </div>
            <div class="Footer__Block Footer__Block--newsletter">
                <h2 class="Heading" style="font-size: 12px;">Sign Up For Email</h2>
                <form  id="footer-newsletter" >
                    <input type="email" name="contact[email]" class="Form__Input" aria-label="Enter your email address" placeholder="Enter your email address" required="">
                    <button type="submit" class="Form__Submit Button Button--primary navigable"> Subscribe</button>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </form>
            </div>
        
        </div>
        <div class="Footer__Aside">
            <div class="Footer__Copyright">
                <small>&copy;SAKURA & HINATA</small>
            </div>
        </div>

    </div>
